k8s-clus01-talos-clus01-cp01.yaml
k8s-clus01-talos-clus01-cp02.yaml
k8s-clus01-talos-clus01-cp03.yaml
k8s-clus01-talos-clus01-wk01.yaml
k8s-clus01-talos-clus01-wk02.yaml
k8s-clus01-talos-clus01-wk03.yaml
k8s-clus01-talos-clus01-wk04.yaml
k8s-clus01-talos-clus01-wk05.yaml
k8s-clus01-talos-clus01-wk06.yaml
talosconfig
kubernetes-talos-clus01-cp01.yaml
kubernetes-talos-clus01-cp02.yaml
kubernetes-talos-clus01-cp03.yaml
kubernetes-talos-clus01-wk01.yaml
kubernetes-talos-clus01-wk02.yaml
kubernetes-talos-clus01-wk03.yaml
kubernetes-talos-clus01-wk04.yaml
kubernetes-talos-clus01-wk05.yaml
kubernetes-talos-clus01-wk06.yaml
k8s-selfsvc-talos-clus01-cp01.yaml
k8s-selfsvc-talos-clus01-cp02.yaml
k8s-selfsvc-talos-clus01-cp03.yaml
k8s-selfsvc-talos-clus01-wk01.yaml
k8s-selfsvc-talos-clus01-wk02.yaml
k8s-selfsvc-talos-clus01-wk03.yaml
k8s-selfsvc-talos-clus01-wk04.yaml
k8s-selfsvc-talos-clus01-wk05.yaml
k8s-selfsvc-talos-clus01-wk06.yaml
